# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# .env
.env*

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
.phpunit.result.cache

# local phpunit config
/phpunit.xml

# NPM packages
/node_modules

# Codeception
c3.php
/tests/_output
/tests/Support/_generated
/tests/Support/Data/testDB.sqlite
/tests/Support/Data/testDB.sqlite_snapshot

# Web
/public/assets
/public/fonts
/public/images

/resources/css

# Yii
.merge-plan.php
/runtime
